<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	<add key="east" value="Performer,Performer.EastStyle" />
	<add key="west" value="Performer,Performer.WestStyle" />
	<add key="south" value="Performer,Performer.SouthStyle" />
	<add key="north" value="Performer,Performer.NorthStyle" />
	
	<add key="log_path" value="C:\Users\entme\source\repos\public_log"/>
  </appSettings>
</configuration>